<!DOCTYPE html>
<html>
  <head>
	<!--inseriamo l'hlper per gestire casi di mancanza di titolo -->
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<!-- aggiungo stylesheet blueprint -->
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %> 
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>